export NODE_ENV="development"
export PORT="3070"
export HOST="0.0.0.0"
export REDIS_MAX_TTL="2592000"
export REDIS_URL="redis://localhost:6379/0"
export REDIS_PREFIX="walletconnect-bridge"
export RELAY_MODE="any"